@import url('overwrite.css');

::selection {
  background: #ffc127ff;
}
::-moz-selection {
  background: #ffc127ff;
}

html, body{
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  max-width: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom:30px;
}

header .row {
  margin-bottom:0;
}

h2 {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -2px;
}

.hero {
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    height: 50vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    background-color: rgba(147, 112, 219, 0.8);
    border: 3px solid white;
    border-radius: 20px;
    color: #fff;
    display: block;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1em;
    text-decoration: none;
    width: 200px;
}

.logo a,.logo a:hover {
  color:#fff;
  text-decoration:none;
}

.logo h1 {
  font-weight:700;
  font-family: 'Exo', sans-serif;
}

#maincontent {
  z-index:1000;
  margin-top:0px;
  padding:20px 0 0 0;
}

#maincontent .page-header h3 {
  font-weight:700;
}

section#intro{
  max-width: 100%;
  background:#f5f5f5;
  height:auto;
  margin: 0 auto;
  margin-top:80px;
  padding: 0;
  border-bottom:1px solid #e9e9e9;
  padding-top:60px;
  margin-bottom:40px;
}

.line {
  background:url(../img/line.jpg) top repeat-x;
  height:10px;
}

.features {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.features .icon i {
  position: absolute;
  top: 0px;
}

.features .features_content {
  padding-left: 150px;
}

.features_content {
  margin-top: 17.5px;
  margin-bottom: 50px;
}

.features_content p {
  font-size: 15px;
}

.solid_line {
  padding:0;
  margin:20px 0 20px 0;
  width:100%;
  height:1px;
  border-top: 1px solid #eeeeee;
}

.highlight {
  color:#fff;
  padding:2px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.highlight.gold {
  background:#daa520ff;
}

.error-bg{
  background: #f5f5f5;
}

.error-wrapper{
  width:60%;
  margin:80px auto;
  padding:8px;
  background:#f5f5f5;
}

.error-body{
  padding:20px;
  text-align:center;
  color:#fff;
}

.error-body h1{
  font-size:172px;
  line-height:160px;
  padding:15px 0 20px 0;
  margin-bottom:30px;
}

.error-body h3{
  text-transform:none;
}

.error-footer{
  margin-top:30px;
  text-align:right;
  background:#f5f5f5;
}

.icon-5x {
  text-align: center;
}

.icon-5x {
  font-size: 65px !important;
  width: 120px !important;
  height: 120px !important;
  line-height: 120px !important;
}

i.icon-bg-dark {
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}

i.icon-bg-dark {
  color: #fefefe;
  background: #990000ff;
}

.icon-5x {
  border-bottom-width: 3px !important;
}

.icon-circled {
  border-radius: 1000px !important; /* 146px 40px 100px 118px */
  -moz-border-radius: 1000px !important;
  -webkit-border-radius: 1000px !important;
  -o-border-radius: 1000px !important;
  -ms-border-radius: 1000px !important;
}

.testimonial_item {
  display: inline-block;
  padding: 0;
  position: relative;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
}

.testimonial_item p {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  line-height: 23px;
  padding: 20px 20px 25px;
  background: #f5f5f5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  position: relative;
  color: #777;
}

.testimonial_item p:before {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 45px;
  font-style: normal;
  color: rgba(0, 0, 0, .06);
  position: absolute;
  right: 15px;
  bottom: -5px;
}

.testimonial_item p:after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -15px;
  border-left: 15px solid transparent;
  border-right: 0 solid transparent;
  border-top: 15px solid #f5f5f5;
}

.testimonial_item .author {
  display: block;
  color: #444;
  font-weight: bold;
  margin-top: 20px;
}


.testimonial_item .occupation {
  color: #aaa;
  display: block;
  position: relative;
}

footer .footerlogo h6 {
  font-size:26px;
  letter-spacing:4px;
  text-transform:uppercase;
}

footer .footerlogo h6 a {
  color:#fff;
  font-weight:700;
}

footer .footerlogo h6 a:hover {
  text-decoration:none;
  color:#ddd;
}

.content {
  flex: 1 0 auto;
}

.footer {
  background:#3a3a3a;
  flex-shrink:0;
}

.center {
  text-align: center;
}

.logoicon {
  margin: 25px 0 15px 0;
}

.team {
	text-align:center;
}

.team h3 {
	margin-bottom:10px;
	letter-spacing:-1px;
}

@media (min-width: 768px) and (max-width: 979px) {
  div nav ul {
    display:none;
  }
  nav ul li {
    display:none;
  }

  .logoicon {
    margin-left: -0.5px;
  }
}

@media (max-width: 773px) {

  .footer {
    margin-left:-25px;
    margin-right:-25px;
  }

  .hero {
    margin-left:-20px;
  }

@media (max-width: 767px) {

  div nav ul {
    display:none;
  }
  nav ul li {
    display:none;
  }
  select.selectmenu {
    display: block;
    width:100%;
    float:none;
    margin-bottom:20px;
    color:#111;
    line-height:30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size:14px;
  }

  select.selectmenu  a {
    line-height:1.5em;
  }

  .features {
    margin-bottom:30px;
  }

  ul.portfolio-area li {
    width:100%;
  }

}

@media (max-width: 480px) {
  nav select.selectmenu {
    display: inline-block;
    width:100%;
    float:none;
    margin:10px 20px;
    color:#111;
    line-height:30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size:14px;
  }

  #intro h2 {
    line-height:1.5em;
  }
  .features {
    margin-bottom:30px;
  }

}

