extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix-light.css')
block content
  // Title
  section#intro
    .container
      .row.center
        h2
          strong About Innexgo
  // Main Content
  section#maincontent
    .container
      h3 About
      p
        |Innexgo started as a project in October 2018. Four students entered MESA’s National Engineering
        |Design Challenge (NEDC) with the idea of creating a system to monitor student movements in school
        |to improve the administration’s attendance tracking abilities. The system will improve accountability
        |of students being in the right classes at the right time and will benefit the school by ensuring
        |attendance-based funding is maintained satisfactorily. As our team progressed through competitions,
        |many teachers gave positive feedback regarding our system, and quite a few teachers commented that
        |they would love to have the system implemented in their school, including our very own teachers here
        |at Santa Teresa. Thus, Innexgo LLC was born.
      p
        |Innexgo LLC now strives to help schools and school districts tackle attendance inconsistencies. We are
        |committed to collaborating with community and education leaders to optimize our attendance system
        |to the localized needs of all clients. As we move forward, Innexgo LLC aims to bring our technology to
        |other academic institutions across many communities in the United States.
  section
    .container
      h2 Our Team
      mixin TeamMember(img, name, role)
        .span
          .team.mx-3
            img.rounded-circle(src=img)
            h6= name
            p= role
      mixin Photo(name, role)
        +TeamMember(`img/team/${name.split(' ').join('')}.jpg`, name, role)
      mixin NoPhoto(name, role)
        +TeamMember('img/team/PersonIcon.jpg', name, role)

      .row.d-flex.justify-content-center
        +Photo('Govind Pimpale', 'Chief Technology Officer')
        +Photo('Richard Le', 'Chief Financial Officer')
        +Photo('Ganesh Pimpale', 'Founding Engineer')
      .row.d-flex.justify-content-center
        +Photo('Marek Pinto', 'Founding Engineer')
        +Photo('Henry Chen', 'Software Developer')
        +Photo('Emily Park', 'Hardware Manafacturing')
      .row.d-flex.justify-content-center
        +Photo('Sanjana Nandi', 'Software Developer')
        +Photo('Joshua Sah', 'Hardware Installation')
        +Photo('Jordan Nguyen', 'Hardware Installation')
        +Photo('Jason Ly', 'Hardware Installation')
