doctype html
head
  // Background Information
  title Innexgo Dashboard
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // CSS References
  link(rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='vendor/fontawesome-free/css/all.min.css')
  link(rel='stylesheet' href='vendor/bootstrap4-toggle/css/bootstrap4-toggle.min.css')
  link(rel='stylesheet' href='vendor/tempus-dominus/tempusdominus-bootstrap-4.min.css')
  link(rel='stylesheet' href='css/common.css')
  link(rel='stylesheet' href='css/headerfix-dark.css')
  link(rel='stylesheet' href='css/sidebar.css')
  // JS References
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.js')
  script(src='vendor/bootstrap4-toggle/js/bootstrap4-toggle.min.js')
  script(src='vendor/js-cookie/js.cookie.js')
  script(src='vendor/moment/moment.min.js')
  script(src='vendor/tempus-dominus/tempusdominus-bootstrap-4.min.js')
  script(src='js/common.js')
  script(src='js/signedin.js')
  script(src='js/loadprefs.js')
  script(src='js/sidebar.js')
  // Fonts
  link(href='https://fonts.googleapis.com/css?family=Exo&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu&display=swap' rel='stylesheet')
  // Favicon
  link(rel='icon' href='img/innexgo_gold_brandmark.png' type='image/png')
  block extrascripts
body
  include include/dashboard_navbar
  include include/dashboard_sidebar
  // Content
  // Center Screen
  #not-sidebar.container-fluid
    .px-3.my-3
      #alert-zone
      block content
