extends layout
block extrascripts
    link(rel='stylesheet' href='css/headerfix.css')
    link(rel='stylesheet' href='css/index.css')

block content
  section.hero#hero-section
    .hero-inner
      h1 Academics, Achievement, Attendance First
  section#maincontent
    .container
      .row
        .span
          .features
            .icon
              i.fas.fa-thumbs-up.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Easy to Use
              p
                | Increases teaching time by automating attendance in every classroom and decreasing teacher responsibilities.
        .span
          .features
            .icon
              i.fas.fa-chart-line.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Secured Campus
              p
                | Ensures schoolwide safety by recording student entrances and exits and preventing chronic absenteeism in integrated classrooms.
        .span
          .features
            .icon
              i.fas.fa-shield-alt.icon-bg-dark.icon-circled.icon-5x
            .features_content
              h2 Detailed Reporting
              p
                | Analyzes attendance data to provide extensive administrator reports on in-session campus safety and attendance.
      .row
        .span12
          .solid_line
      .row
        h2(style='margin-bottom: 50px;') Our Strategy
        .card-deck
          .card
            .card-body
              h5.card-title Data Collection
              p.card-text
                | The process begins with our RFID technology. All classrooms will have a scanner that captures scan-in/out data
                | from students whenever an ID card is detected.
          .card
            .card-body
              h5.card-title Data Processing
              p.card-text
                | Data from the RFID-driven scanners are transmitted to the Innexgo database where this data is sorted into categorizations
                | such as class periods, classrooms, and teachers.
          .card
            .card-body
              h5.card-title Data Analysis
              p.card-text
                | Innexgo displays the attendance data through our analytics dashboard where teachers and administrators can monitor student
                | attendance records and access numerous charts and reports.
      .row
        .span12
          .solid_line
      .row
        h2 What people say about us
        .testimonial_item
          p &quot;Less time on trying to check who&apos;s there and more time for teaching.&quot;
          span.author Channy Cornejo
          span.occupation Math Department Chair
        .testimonial_item
          p &quot;It holds students accountable for their attendance habits.&quot;
          span.author Carole Ng
          span.occupation Computer Science Teacher
