extends internal_layout
block extrascripts
  // JS References
  script(src='vendor/bootstrap4-toggle/js/bootstrap4-toggle.min.js')
  script(src='vendor/scannerdetection/jquery.scannerdetection.min.js')
  script(src='js/overview.js')
block content
