extends layout
block extrascripts
  link(rel='stylesheet' href='css/headerfix-light.css')
block content
  section#intro
    .container
      .row.center
        h2
          strong Terms of Service
  section#maincontent
    .container
      h5 Our Terms of Service
      p
        | In general, our terms of service merely ask that you not abuse our service by checking or uploading your data
        | excessively (e.g. 6 or 7 times a day), knowingly uploading false information, or otherwise attempting to compromise the service. 
        | If you have questions, please feel free to raise them at
        |
        a(href="https://github.com/pimpale/innexo.io/issues") our github issues page
        | .

