extends layout
block extrascripts
  // CSS
  link(rel='stylesheet' href='vendor/daterangepicker/daterangepicker.css')
  link(rel='stylesheet' href='vendor/ion-rangeslider/css/ion.rangeSlider.min.css')
  link(rel='stylesheet' href='vendor/leaflet/leaflet.css')
  link(rel='stylesheet' href='vendor/leaflet-draw/leaflet.draw.css')
  link(rel='stylesheet' href='css/headerfix-light.css')

  // JS
  script(src='vendor/ion-rangeslider/js/ion.rangeSlider.min.js')
  script(src='vendor/popper/js/popper.min.js')
  script(src='vendor/moment/moment.min.js')
  script(src='vendor/leaflet/leaflet.js')
  script(src='vendor/leaflet-draw/leaflet.draw.js')
  script(src='vendor/leaflet-color-markers/js/leaflet-color-markers.js')
  script(src='vendor/daterangepicker/daterangepicker.js')
  script(src='js/common.js')
  script(src='js/upload.js')

block content
  .container-fluid
    .px-3.my-5.py-5
      #alert-zone
      // Instruction 1
      #instruction1-div.card-deck
        include instructions
        .card.col-sm-6
          .card-body
            .input-group
              h5.card-title.text-center Basic Info
            p.card-text Upload either a Snapchat or Google Timeline JSON file.
            form
              // Email
              .form-group
                label(for='instruction1-email') 1. Email address
                input#instruction1-email.form-control(type='email')
                small.form-text.text-muted
                  | Your email will never be shared. We ask for it in order to provide important security
                  | updates about your data and its status.
                p#instruction1-email-error.form-text.text-danger(style='display:none;')
                  | This email is not valid.
              // Infection Dates
              .form-group
                label(for='instruction1-daterange') 2. Infection Date Range
                input#instruction1-daterange.form-control(type='text')
                small.form-text.text-muted
                  | Select the date at which you first started showing symptoms to the date you last showed symptoms.
                p#instruction1-daterange-error.form-text.text-danger(style='display:none;')
                  | You must enter a date range.
              // Upload Data
              .form-group
                label(for='instruction1-file-div') 3. Select JSON Location Data
                #instruction1-file-div.custom-file
                  input#instruction1-file.custom-file-input(type='file')
                  label.custom-file-label(for='instruction1-file') Choose file
                small.form-text.text-muted
                  | Select the date at which you first started showing symptoms to the date you last showed symptoms.
                p#instruction1-file-error.form-text.text-danger(style='display:none;')
                  | The selected file is not a valid Google Location History in JSON format.
            // Submit button
            button#instruction1-confirm.btn.my-1.btn-primary Submit Info
      // Instruction 2
      #instruction2-div.card-deck(style='display:none;')
        .card.col-sm-6
          .card-body
            .input-group
              h5.card-title.text-center 2. Select Locations
            p.card-text
              | This map highlights the locations visited during the possible infectious period.
              | Use the rectangle tool to block areas from the upload.
              | Please ensure you block sensitive information that you would not want others to know. (Home, workplace,
              | etc.)
              | This data will be saved on our servers for the duration of the outbreak. Once it is over, it will be
              | deleted.
              | Your data will not be sold or used for any purpose but contact tracing.
              | Note that your data must be under 10MB for upload.
            #instruction2-map.my-3(style='height:50vh;')
            #instruction2-map-progress-div.progress(style='display:none;')
              #instruction2-map-progress.progress-bar(role='progressbar') Building Index...
            button#instruction2-confirm.btn.my-1.btn-primary.float-left Upload Data
            h6#instruction2-counter.float-right 0/10.00 Megabytes Used
            #instruction2-wait(style='display:none;')
              .spinner-border.mx-1(role='status' aria-hidden='true')
              h6 Processing Data
