extends dashboard_layout
block extrascripts
  // JS References
  script(src='vendor/bootstrap4-toggle/js/bootstrap4-toggle.min.js')
  script(src='vendor/scannerdetection/jquery.scannerdetection.min.js')
  script(src='js/dashboard.js')
block content
  .card-deck
    // Current Settings & Values
    .card.col-sm-3.palette-level-two
      .card-body
        .input-group
          h5.card-title.text-center Information
          span.input-group-btn.ml-auto
            button.btn.btn-sm(type='button' data-html='true' data-toggle='popover' title='Information' data-placement='top' data-content="When you're not teaching a class, your current classroom is unknown. This means that the system doesn't know which classroom to display data for. By setting a default location here, you can use the apps on this page, such as Current Status, Manual Attendance, and Recent Activity even when you don't have a class. Note that the default location is overriden when there is a course in session.")
              i.fa.fa-question
        p.card-text
          | Set Default Location for the Current Status, Manual Attendance, and Recent Activity
          | apps.
        .input-group.mb-3
          .input-group-prepend
            span.input-group-text
              | Location
          select#overview-locationid
    // Current Status
    .card.col-sm-6.palette-level-two
      .card-body
        .input-group
          h5.card-title Current Status
          span.input-group-btn.ml-auto
            button.btn.btn-sm(type='button' data-html='true' data-toggle='popover' title='Current Status' data-placement='top' data-content="View this class's attendance status for this period. <br><br> A <strong>green checkmark</strong> means present and on-time. <br><br> A <strong>yellow checkmark</strong> means present but late. <br><br> A <strong>red cross</strong> means not present. <br><br> A <strong>blue cross</strong> means originally present, but left in the middle of class. <br><br> A <strong>blue check</strong> means that the student left in the middle of class, but has returned and is now present. <br><br> A <strong>purple checkmark</strong> means this individual is not enrolled, but present in the classroom.")
              i.fa.fa-question
        .card-text
          p View the status of students who are in your classroom.
          p
            | Present: 
            span#current-status-percent-attendance
        .table-height-standard
          table.table.striped.white
            thead
              tr.table-header
                td Name
                td ID
                td Status
            tbody#current-status-table
    // Manual Attendance
    .card.col-sm-3.palette-level-two
      .card-body
        .input-group
          h5.card-title.text-center Manual Attendance
          span.input-group-btn.ml-auto
            button.btn.btn-sm(type='button' data-html='true' data-toggle='popover' title='Manual Attendance' data-placement='top' data-content='Manually enter a student ID to either scan-in or scan-out a student.')
              i.fa.fa-question
        p.card-text Scan-in/out students manually.
        .input-group.mb-3
          .input-group-prepend
            span.input-group-text.bg-innexgocrimson
              | Student ID
          input#manual-studentid.form-control(type='text' onkeypress='return manualEntryFunction(event);')
        button#manual-submit.btn.mt-3.btn-block.btn-warning(type='input-button')
          | Submit
  .card-deck
    .card.col-sm.mx-3.my-3.card-no-border.palette-level-two
      .card-body
        .input-group
          h5.card-title Recent Activity
          span.input-group-btn.ml-auto
            button.btn.btn-sm(type='button' data-html='true' data-toggle='popover' title='Recent Activity' data-placement='top' data-content="This log displays in reverse chronological order attendance events, where a student signed in to or out of your classroom. <br><br> A <strong>green arrow</strong> means a student signed into your classroom. <br><br> A <strong>red arrow</strong> means a student signed out of your classroom. <br><br> A <strong>blue arrow</strong> means the student's exit was implied. (signed into another class)")
              i.fa.fa-question
        p.card-text
          | View a log of the most recent student attendance events in the current classroom.
        .table-height-standard
          table.table.striped
            thead
              tr.table-header
                td Name
                td ID
                td Time
                td Direction
            tbody#recentactivity-events
