.palette-level-one {
  background-color: #4b86b4;
}

.palette-level-two {
  background-color: #adcbe3;
  color: #303030
}

a.sidebar-item:hover {
  background-color: #476de7;
}

.nav-pills a.nav-link:not(.active) {
  background-color: #acbdf1;
}

.form-control {
  background-color: #a0b8f8;
}

.form-control:focus {
  background-color: #d6e1ff;
}

/* #343a40 #f8f9fa */
tr.table-header {
  background-color: #1a1c8f;
  color: #E5E6E7;
}

.input-button {
  background-color: #a2ffff;
}

.palette-header {
  background-color: #005b96;
}

.palette-border:not(.active) {
	border: 1px solid #eaeef1;
}