.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: linear-gradient(#daa520ff,#c1737eff);
	z-index: 1;
	opacity: 0.7;
}

.login{
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	height: 90px;
	width: 400px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 400px;
	height: 30px;
	background: white;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #000;
    font-size: 17px;
	padding: 4px;
}

.login input[type=password]{
	width: 400px;
	height: 30px;
	background: white;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #000;
    font-size: 17px;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 400px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
    font-size: 15px;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}
