.card-no-border {
  padding:0px;
}

.segmented-buttons li {
  display: block;
  border: solid #acacac;
  border-width: 2px 1px 2px 1px;
}

.segmented-buttons li:hover {
  cursor: pointer;
}

.segmented-buttons li:first-child {
  border-left-width: 2px; 
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.segmented-buttons li:last-child {
  border-right-width: 2px; 
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.segmented-buttons li.selected {
  background-color: #215fd1;
  color: #dddddd;
}