// Top Navbar
nav.navbar.navbar-expand-md.navbar-palette
  // Center Logo
  .mx-auto.order-0
    img.logoicon(src='img/innexgo_transparent_icon.png' alt='' style='')
    h1.navbar-brand.navbar-palette(style='font-size: 25px; margin-left: 5px;') Innexgo
