footer.footer
  .container-fluid.py-1
      img.logoicon(src='img/innexgo_logo.png')
      p
        a.text-light(href='cookiepolicy.html') Cookie Policy
      p
        a.text-light(href='termsofservice.html') Terms of Service
      p.text-light &copy; Innexgo LLC, 2020
