footer.footer
  .container-fluid.py-1
      img.m-2.logoicon(src='img/innexgo_logo.png')
      p.text-light.d-inline.float-right.mr-3.mt-3 &copy; Innexgo LLC, 2020
      p.d-inline.float-right.mr-3.mt-3
        a.text-light(href='termsofservice.html') Terms of Service
      p.d-inline.float-right.mr-3.mt-3
        a.text-light(href='cookiepolicy.html') Cookie Policy
