header.header
    nav.navbar.navbar-expand-lg.fixed-top.py-3
      .container
        a.navbar-brand.font-weight-bold(href='index.html') Innexgo
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
          i.fa.fa-bars
        #navbarSupportedContent.collapse.navbar-collapse
          .navbar-nav.ml-auto
            a.nav-item.nav-link.font-weight-bold(href='about.html') About
            a.nav-item.nav-link.font-weight-bold(href='faq.html') FAQ
            a.nav-item.nav-link.font-weight-bold(href='login.html') Login
